#text {
  
    font-size: 18px;    
}

#timeResult {
    
    font-weight: bold;
    font-size: 20px;
}

#shape {
    
    background-color: greenyellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
 
}

#smallSquare {
    
    width: 100px;
	height: 100px;
    background-color: red;
    
}

#bigSquare {
    
    width: 200px;
	height: 200px;
    background-color: red;
}