#text {
  
    font-size: 18px;    
}

#timeResult {
    
    font-weight: bold;
    font-size: 20px;
}

#shape {
    
    background-color: greenyellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
 
}

